.container{
    background: #72d6f5!important;
    height : 50px;
    margin-left: 0%;
    text-align: justify;
    color : white;
    font-weight: bold;
    font-size: larger;
    vertical-align: middle;
    width : 100%
}